
*{
    margin: 0;
    padding: 0;
}
p{ 
    text-justify: inter-word;
    text-align: justify;
}
.container-all{
    max-width: 100%;
}
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}


/* Navigasi Menu Start */
nav{
    background-color: #108CFF;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;

}

nav .logo{
    display: flex;
    align-items: center;
  
}
nav .logo .logo-brand{

    display: flex;
    justify-content: center;
    width: 60px;
    margin-right: -10px;
}
nav .logo img{
    width: 70px;
    height: 70px;
    
}


nav .logo h6{
    font-weight: bold;
    color: white;
  
}

nav ul{
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}
nav .menu ul {
    list-style: none;
}

nav .menu li{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 90px;
    height: 40px;
}

nav .menu li a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

nav .pilihanButton ul{
    display: flex;
}
nav .pilihanButton ul a{
    text-decoration: none;
    color: #4AB7FF;
}

nav .pilihanButton ul li{
    display: flex;
    text-transform: capitalize;
    background-color: white; 
    margin-left: 20px;
    margin-right: auto;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #108CFF;
    font-weight: 700;   
}
/* Navigasi Menu End */


/* Hamburger Menu Start */
/* .menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}     */
/* Hamburger Menu End */


/* Section-1 Start */
.section-1{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #108CFF;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
}

.container-section-1{
    width: 1300px;
    margin: 0 130px 0 ;

}
.section-1 .home{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* margin: 30px 30px 0 30px;   */
}

.section-1 .home .imageContent{
    margin-top: 0;
    margin-bottom: 0;

}

.section-1 .home .imageContent img{
    width: 600px;
    height: 560px;
}
.section-1 .home .deskripsiContent{
    margin: 120px 0px 0px 38px;

    

}
.section-1 .home .deskripsiContent h2{
    color: white;
    text-transform: capitalize;
    font-size: 38px;
}


.section-1 .home .deskripsiContent .penjelasan{
    color: white;
    margin-top: 0px;
    
}

.section-1 .home .deskripsiContent h6{
    color: white;
    margin-top: 30px;
    text-transform: capitalize; 
    font-weight: 700;
}
.section-1 .home .deskripsiContent h6 span{
    font-weight: 100;
}

.section-1 .home .deskripsiContent .teamName{
    font-weight: 200;
    margin-top: 30px;
    font-size: 18px;
    align-content: flex-end;
}

.section-1 .graphic-1{
    position: absolute;
    right: 0;
    bottom: -140px;
}
.section-1 .graphic-1 img{
    width: 120px;
    
}

.section-1 .graphic-2{
    position: absolute;
    left: 0;
    top: 0;
}
.section-1 .graphic-2 img{
    width: 100px;
    
}
.section-1 .graphic-3{
    position: absolute;
    right: 0;
    top: 20%;
    transform: scale(-1);
}
.section-1 .graphic-3 img{
    width: 100px;
    
}
/* Section-1 End */

/* Section-2 Start */
.section-2{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    
}

.container-section-2{
    width: 1259px;
    margin: 10% 130px 0 ;

}

.section-2 .graphic-1{
    position: absolute;
    right: 0;
    bottom: 0;
}
.section-2 .graphic-1 img{
    width: 150px;
    
}
.section-2 .graphic-2{
    position: absolute;
    left: 0;
    top: -240px;
}
.section-2 .graphic-2 img{
    width: 150px;
    
}

.section-2 .about{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    
}
.about-content .image-content{
    margin-right: 30px;
}

.about-content .image-content img{
    width: 500px;
    height: 560px;
}

.about .section-title{
   margin-top: 50px;
   margin-left: 100px;
    
}

.about .section-title p{ 
    width: 100%;   
 }
.about .section-title h2{
    text-transform: capitalize;
}

.about .section-title h6{
    color:#4AB7FF;

}
.section-title .graphic-title {
    position: absolute;
    bottom: 0;
    right: -50px;
}
.about .section-title .penjelasan{
    margin-top: 20px;
}
.section-title .graphic-title img{
    width: 750px;
}
.about .section-title .button-daftar{
    background-color:#4AB7FF;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
    bottom: 15px;
    right: 10px;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 1;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}
/* section-2 end */

/* section-3 start */
.section-3{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.container-features {
    width: 1259px;
    margin: 0 130px 0;

}
.section-3 .grapich-section-3{
    bottom: 0;

}
.section-3 .grapich-section-3 img{
    width: 200px;

}
.features h4{
    color: #4AB7FF;
        
    }
.features .garis{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid #4AB7FF;
    opacity: 0.4;
    margin-top: 10px;
    }

.features-content{
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    margin-top: 10%;
    
    }
.features-content .content-inner{
    margin: 50px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 4px 11px 17px -6px rgba(74,183,255,0.69);
    -webkit-box-shadow: 4px 11px 17px -6px rgba(74,183,255,0.69);
    -moz-box-shadow: 4px 11px 17px -6px rgba(74,183,255,0.69);
    height: 20em;
}
.content-inner .garis-content{
    border: 0.1px solid rgb(201, 201, 201);
    height: -1px;
    opacity: 0.5;
    width: 100%;
}
.features-content .content-inner:nth-child(1){
    margin-left: 0;
}
.features-content .content-inner:nth-child(3){
    margin-right: 0;
}
.features-content .content-inner .icon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.features-content .content-inner img{
    width: 100px;
    margin-left: auto;
    margin : 10px 20px 0 20px;
 
}
.features-content .content-inner h5{
    color: #4AB7FF;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.features-content .content-inner p{
    line-height: 25px;
    text-transform: capitalize;
    margin: 10px 10px 10px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.benefit-features{
    margin-top: 20px;
}
.benefit-content-inner{
    display: flex;
}

.benefit-content-inner h4{
    color: #4AB7FF;
    text-transform: capitalize;
}
.benefit-content-inner .benefit-title{
    display: flex;
    align-items: center;
}
.benefit-content-inner .garis{
    border: 0.1px solid #4AB7FF;
    width: 270px;
    height: 0;
    align-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.benefit-content-inner .penjelasan{
    text-transform: capitalize;
    width: 100%;
    margin-left: 30px;
    border: 1px solid transparent;
    
}

/* section-3 end */

/* section-4 start */
.section-4{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 90vh;

}

.container-faq{
    width: 1259px;
    margin: 0 130px 0 ;
    
}

.faq-section .section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.faq-section .section-title h6{
    text-transform: uppercase;
    color: #4AB7FF;
}

.faq-section .section-title h2{
    text-transform: capitalize;
}
.faq-question-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.faq-question{
    background-color: white;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 1rem;
    box-shadow: 9px -2px 36px -13px rgba(16,140,255,0.73);
    -webkit-box-shadow: 9px -2px 36px -13px rgba(16,140,255,0.73);
    -moz-box-shadow: 9px -2px 36px -13px rgba(16,140,255,0.73);
    width: 40%;
    margin-right: 10px;
}

.faq-question .faq-link{
    text-decoration: none;
    color: #4AB7FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.faq-link svg{
    color: #000000;
    padding: .5rem;
    
}

.faq-link .bi-bi-dash{
    display: none;
}

.faq-question .answer{
    max-height: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgb(236, 236, 236);
    transition: height 650ms;
    border-radius: 10px;
    
}

.faq-question .answer::before{
    content: " ";
    position: absolute;
    width: .1rem;
    height: 50%;
    background-color: #FFCE11;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
}
.faq-question .answer p{
    color: black;
    padding: 2rem;
}

.faq-question:target .answer{
    max-height: 100%;

}
.faq-question:target .faq-link .bi-bi-plus-lg{
    display: none;
}
.faq-question:target .faq-link .bi-bi-dash{
    display: block;
}
/* section t end */

/* section 5 start */
.contact-section{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    background-color: #4AB7FF;
    height: 260px;
    border-radius: 10px;
}

.container-contact{
    width: 1259px;
    margin: 0 130px 0;
}
.contact-section .image-content {
    width: 30%;
    height: 20px;
    position: relative;
    top: 20px;
}
.contact-section .image-content img{
    width: 300px;
    position: absolute;
    top: -100px;
    left: 50px;

}

.contact-section .message-text{
    margin-top: 20px;
    width: 30%;
}
.contact-section .message-text h4{

    width: 100%;
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;
}
.contact-section .message-text p{
    color: white;
    width: 100%;
    line-height: 32px;

}

.contact-section .submit-message{
    border-top: 20%;
    position: relative;
    margin-right: 40px;


}
.contact-section .submit-message .input-submit{
    width: 100%;
    height: 20%;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.contact-section .submit-message .input-submit .input-control{
    height: 100%;
    border-radius: 20px;
    
}
.contact-section .submit-message .input-submit .input-control::placeholder{
    color: white;
    font-family: montserrat;
    text-transform: capitalize;
}

.contact-section .submit-message .input-submit .input-control{
    width: 100%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    
}
.contact-section .submit-message .input-submit-2{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70px;
    margin-bottom: 10px;
    padding-top: 10px;


}
.submit-message .input-submit-2 .input-submit-lagi{
    height: 80%;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
}
.submit-message .input-submit-2 .input-submit-lagi-2{
    height: 80%;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 10px;
}
.submit-message .input-submit-2 .input-submit-lagi .input-control-2{
    height: 100%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}
.submit-message .input-submit-2 .input-submit-lagi .input-control-2::placeholder{
    color: white;
    font-family: montserrat;
    text-transform: capitalize;
}
.submit-message .input-submit-2 .input-submit-lagi-2 .input-control-2{
    height: 100%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.submit-message .input-submit-2 .input-submit-lagi-2 .input-control-2::placeholder{
    color: white;
    font-family: montserrat;
    text-transform: capitalize;
}

.contact-section .submit-message .button-submit{
    width: 100%;
    background-color: #FFCE11;
    height: 20%;
    border-radius: 20px;
}
.contact-section .submit-message .button-submit .button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
}
.contact-section .submit-message .button-submit .button h6{
    color: white;
}

/* Section-2 End */

/* Footer start */
.footer-outer {
    margin-top: 10%;
    width: 100%;
    height: 5%;
    background-color: #4AB7FF;
}

.footer-outer .footer-inner{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 1220px;
    margin: 0 130px 0;

    
}

.footer-outer .footer-inner h5,
.footer-outer .footer-inner p{
    color: white;
    text-transform: capitalize;
    text-align: left;

}

.footer-outer .footer-inner p span{
    font-weight: 600;
    font-size: 13px;
}
.footer-inner .image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-inner .image-content img{
    width: 250px;
}

.footer-inner .jelajah{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-inner .jelajah ul li {
    list-style: none;
    text-decoration: none;
}

.footer-inner .jelajah ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    line-height: 2px;
}


.footer-inner .hubungi {
 
    width: 20%;
}
.footer-inner .hubungi span{
    word-wrap: break-word;
}


.footer-inner .social-media .social-media-inner .medium,
.footer-inner .social-media .social-media-inner .linkedin,
.footer-inner .social-media .social-media-inner .insta{
    display: flex;
    align-items: center;
    

}
/* .footer-inner .social-media .social-media-inner .medium p,
.footer-inner .social-media .social-media-inner .linkedin p,
.footer-inner .social-media .social-media-inner .insta p{
    margin: 0;
    padding: 0;    
} */
.footer-inner .social-media .social-media-inner img{
    width: 20px;
    height: 20px; 
    margin-right: 10px;
    margin-left: 2px;
    display: flex;

}