@media (max-width: 1024){
    
}

@media (max-width: 768px){

}

@media (max-width: 414px){

    body {
        overflow: hidden;
        margin-right: 0px;
        transition: 350ms ease;
    }

    #Navbar {
        width: 100%;
        height: 80px;
        background-color: #fff;
        z-index: 999;
        position: fixed;
        transition: 300ms ease;
        display: flex;
        bottom: 0;
        overflow: hidden;
    }

    #Navbar #logo{
        width: 20%;
        padding: 0;
        display: flex;
        align-items: center;
        padding-top: 0.6em;
    }

    #Navbar #logo span:nth-child(2){
        display: none;
    
    }

    #Navbar #content{
        width: 80%;
    }

    #Navbar #content ul{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #Navbar #content ul li:nth-child(1){
        height: 100%;
        padding: 0;
        border-radius: 0;
    }

    #Navbar #content ul li{
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    #Navbar #content ul li:hover{
        border-radius: 0;
    }

    #Navbar #content ul li h5{
        display: none;
    }

    #Navbar #content ul li:nth-child(5){
        display: none;
    }
    #home {
        margin-left: 0px;
        transition: 350ms ease;
    
    }
    #home .col-sm-6:nth-child(1){
       width: 60%;
    }

    #home .col-sm-6:nth-child(2){
        width: 40%;
     }

    #home .col-sm-6:nth-child(1){
        padding: 0;
    }

    #home .col-sm-6:nth-child(1) .profile{
        margin-left: -15px;
    }

    #home .col-sm-6:nth-child(1) .profile h5{
        font-size: 16px;
        border: 1px solid blue;
    }

    #home .col-sm-6:nth-child(1) .profile p{
        display: none;
    }
    
    #home .col-sm-6:nth-child(2) {
        padding-right: 1em;
        align-items: center;
        margin-top: 10px;
    }

    #home .col-sm-6:nth-child(2) .option button{
        display: none;
    }

    #home .col-sm-6:nth-child(2) .option button{
        display: none;
    }

    #home .col-sm-6:nth-child(2) .option li {
        margin-right: 20px;
        padding :0;
    }

     
}

@media (max-width: 375px){
    
}