body {
    overflow: hidden;
    margin-right: 250px;
    transition: 350ms ease;
}

body.active {
    overflow: hidden;
    margin-right: 90px;
    transition: 350ms ease;
}
#Navbar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    overflow: hidden;
    transition: 300ms ease;
}

#Navbar.active {
    width: 90px;
    transition: 300ms ease;
}

#Navbar a{
    text-decoration: none;
}

#Navbar #logo.active span img{
    width: 100%;
    transition: 300ms ease;
}

#Navbar #logo span:nth-child(2).active{
    display: none;
}

#Navbar #content{
    width: 100%;
}

#Navbar #content ul{
    list-style: none;
    padding: 10%;
    height: 100vh;
}

#Navbar #content ul li:nth-child(1){ 
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1em;
    background-color: rgba(56, 148, 255, 0.1);
    border-radius: 10px;
}

#Navbar #content ul li{ 
    width: 100%;
    height: 50px;
    color: #647387;
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 1em;
    transition: 500ms ease;

    cursor: pointer;
}

#Navbar #content ul li svg{ 
    
}

#Navbar #content.active ul li { 
    display: flex;
    justify-content: center;
    padding-left: 0;

}

#Navbar #content ul li:hover{ 
    background-color: rgba(56, 148, 255, 0.1);
    color: #3894FF;
    border-radius: 10px;
    transition: 500ms ease;
}

#Navbar #content ul li:nth-child(1) h5{
    font-weight: 600;
    color: #3894FF;
    font-size: 15px;
    width: 100%;
    padding-top: 0.6em;
    padding-left: 20px;
} 

#Navbar #content ul li h5{
    font-weight: 600;
    color: #647387;
    font-size: 15px;
    width: 100%;
    padding-top: 0.6em;
    padding-left: 20px;
    transition: 500ms ease;
}

#Navbar #content.active ul li h5{
    display: none;
}


#Navbar #content ul li:hover h5 {
    color: #3894FF;
    transition: 300ms ease;

}

#Navbar #content ul li .shop{
    transition: 300ms ease;
}

#Navbar #content ul li:hover .shop{
    stroke: #3894FF;
    transition: 300ms ease;
}

#Navbar #content ul li .kotak{
    transition: 300ms ease;
}

#Navbar #content ul li:hover .kotak{
    fill: #3894FF;
    transition: 300ms ease;
}

#Navbar #content ul li .stats{
    transition: 300ms ease;
}

#Navbar #content ul li:hover .stats{
    fill: #3894FF;
    transition: 300ms ease;
}

#Navbar #content ul li:hover .icon-menu-1{
    background-color: #3894FF;
    transition: 300ms ease;
}

#Navbar #content ul li:hover .icon-menu-2{
    background-color: #3894FF;
    transition: 300ms ease;
}

#Navbar #content ul li .profile{
    transition: 300ms ease;
}

#Navbar #content ul li:hover .profile{
    stroke: #3894FF;
    transition: 300ms ease;
}

#Navbar #content ul li .icon-menu{
    display:inline-block;
    cursor: pointer;
    padding-top: 0.2em;
}

#Navbar #content ul #btn-collapse{
    position: absolute;
    width: 79%;
    bottom: 10px;
}

#Navbar #content ul #btn-collapse.active{
    width: 75px;
}

#Navbar #content ul li .icon-menu-1{
    width: 25px;
    height: 4px;
    background-color: #647387;
    margin-bottom: -4px;
    border-radius: 100px;
    transform: rotate(40deg);
    transition: 300ms ease;
}

#Navbar #content ul li .icon-menu-2{
    width: 25px;
    height: 4px;
    background-color: #647387;
    margin-bottom: 0px;
    border-radius: 100px;
    transition: 300ms ease;
    transform: rotate(-40deg);

}

#Navbar #content.active ul li .icon-menu-1{
    transition: 300ms ease;
    transform: rotate(0);
    margin-bottom: 7px;
}

#Navbar #content.active ul li .icon-menu-2{
    transition: 300ms ease;
    transform: rotate(0);
    margin-bottom: 7px;

}

#home {
    background-color: #F9F9F9;
    width: 100%;
    height: 100vh;
    margin-left: 250px;
    transition: 350ms ease;
}

#home.active {
    margin-left: 90px;
    transition: 350ms ease;

}

#home .col-sm-6{
}

#home .col-sm-6:nth-child(1) .profile{
    padding-top: 1em;
    
}

#home .col-sm-6:nth-child(1) span{
    width: 100%;
}

#home .col-sm-6:nth-child(1) ul{
    display: flex;
    list-style: none;
}

#home .col-sm-6:nth-child(1) ul li:nth-child(2){
    margin-left: 20px;
}

#home .col-sm-6:nth-child(1) ul li:nth-child(2) h5{
    font-weight: 700;
    margin-top: 7px;
}

#home .col-sm-6:nth-child(1) ul li:nth-child(2) p{
    margin-top: -10px;
    padding-right: 5em;
}

#home .col-sm-6:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3em;
}

#home .col-sm-6:nth-child(2) .option{
    display: flex;
    list-style: none;
    padding: 0;
}

#home .col-sm-6:nth-child(2) .option li{
    margin-right: 40px;
}

#home .col-sm-6:nth-child(2) .option li:nth-child(1) button{
    margin-top: -5px;
    width: 140px;
    height: 40px;
    border-radius: 100px;
    font-size: 12px;
    background-color: #3894FF;
    border: none;
    font-weight: 600;
}

#home .col-sm-6:nth-child(2) .option li:nth-child(3){
    margin-right: 0px;
}

#card-need {
    background-color: #F9F9F9;
    width: 100%;
    transition: 350ms ease;
}


#card-need .col-sm-4{
    padding-top: 0.5em;
    padding-bottom: 1em;

}
#card-need .col-sm-4:nth-child(1){
    padding-left: 3.5em;
}

#card-need .col-sm-4:nth-child(3){
    padding-right: 3.5em;
}
#card-need .col-sm-4 .card-box {
    background-color: white;
    border-radius: 20px;
    height: 120px;
    padding: 1.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;

    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
}


#card-need .col-sm-4 .card-box h6{
    font-size: 15px;
    font-weight: 400;
}

#card-need .col-sm-4 .card-box h5{
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 198, 14, 1);
}

#card-need .col-sm-4 .card-box span{
    margin-left: -7px;
}

#card-need .col-sm-4:nth-child(3) .card-box span{
    margin-left: -15px;
}

#card-need .col-sm-4:nth-child(3) .card-box span{
    margin-top: 10px;
}

#card-need .col-sm-4 .card-box span:nth-child(2){
    margin-right: 10px;
}

#card-need .col-sm-4 .card-box span img{
    margin-top: -10px;
}